<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <% 
                        const usp = new URLSearchParams(); 
                        if(keyword){
                            usp.set('keyword', keyword);
                        }
                        %>
                            <% usp.set('page', page-1); %>
                            <li class="page-item">
                                <a class="page-link" href="?<%= usp.toString(); %>">Previous</a>
                            </li>
                            <% for(let i=page-5; i<page+5; i++){ %>
                                <% if(i>=1 && i<=totalPages){
                                    usp.set('page', i);                                    
                                %>
                                <li class="page-item <%= page===i ? 'active' : '' %>">
                                    <a class="page-link" href="?<%= usp.toString(); %>"><%= i %></a>
                                </li>
                                <% } %>
                            <% } %>
                            <% usp.set('page', page+1); %>
                            <li class="page-item">
                                <a class="page-link" href="?<%= usp.toString(); %>">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">刪除</th>
                                <th scope="col">ID</th>
                                <th scope="col">姓名</th>
                                <th scope="col">信箱</th>
                                <th scope="col">手機</th>
                                <th scope="col">生日</th>
                                <th scope="col">地址</th>
                                <th scope="col">編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i of rows){ %>
                                <tr>
                                    <td>
                                        <a href="javascript: delete_data(<%= i.sid %> )">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <%= i.sid %>
                                    </td>
                                    <td>
                                        <%= i.name %>
                                    </td>
                                    <td>
                                        <%= i.email %>
                                    </td>
                                    <td>
                                        <%= i.mobile %>
                                    </td>
                                    <td>
                                        <%= dateToDateString(i.birthday) %>
                                    </td>
                                    <td>
                                        <%= i.address %>
                                    </td>
                                    <td>
                                        <a href="/address-book/edit/<%= i.sid %> ">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<%- include('../parts/scripts') %>
<script>
    async function delete_data(sid){
        if(confirm(`確定要刪除編號${sid}的資料嗎？`)){
            // location.href = '/address-book/delete' + sid;

            const result = await fetch('/address-book/delete/' + sid, {
                method: 'DELETE', //自定義的方法
            });
            const obj = await result.json();
            console.log(obj);
            location.reload();
        }
    }
</script>
<%- include('../parts/html-foot') %>